* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {

    background-image: url('../imagenes/fondo.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

/*Inicio del nav*/
nav {
    background-color: #D2B48C;
    box-shadow: 0px 1px 0px #552301;
    /*Linea de abajo del nav*/
}

nav .nav-logo {
    width: 200px;
    height: 50px;
}

nav.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

/*Todos los botones principales ej reserva o enviar en datos del contacto */
.btn-principal {
    padding: 1.3em 2em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    background-color: #CCA752;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    color: #FFF;
}

/*Color de la letra del boton reserva*/
.btn-principal.btn-principal a {
    color: #FFF;
}

.btn-principal.btn-principal:hover {
    background-color: #d8a122;
    transform: translateY(-7px);
}

/*FIn del nav*/

/*--------------------------------------------------------------------------------------------*/

/*GENERALES*/
a {
    text-decoration: none;
    color: #FFF;
}

ul {
    list-style: none;
}

h1 {
    font-style: normal;
    font-weight: 800;
    line-height: 45px;
}

h2 {
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
}

h3 {
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

h4 {
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

h5 {
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

p {
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

/*------------------------------------------------------------------------------------------------------------------------*/

/*INICIO DE CONTACTO.HTML Y RESERVA.HTML*/

/*Inicio del espaciado entre los titulos del contacto*/
.title {
    width: 100%;
    margin: 120px auto;
}

.title h1 {
    padding: 20px;
    text-align: center;
}

.title p {
    margin: 20px;

}

/*Espacio entre los datos del formulario y la carta*/
.formulario {
    padding: 20px;
}

.carta,
.title h1,
.formulario,
.map {
    background: #ffffff86;
    border: 1px solid rgba(80, 33, 2, 0.692);
    transition: all 0.2s;
    box-shadow: 12px 12px 2px 1px rgba(80, 33, 2, 0.692);
}

.carta img,
.title h1 img,
.formulario img,
.map img {
    padding: 10px;
}

/*Hover del contacto*/
.carta.carta:hover,
.title h1:hover,
.formulario:hover,
.map:hover {
    box-shadow: -12px 12px 2px -1px rgba(80, 33, 2, 0.692);
}

/*datos del contacto en contacto carta con la info*/
.input {
    display: block;
    width: 100%;
    min-height: 28px;
    padding: 0.375rem 0.75rem;
    color: #18191F;
    background-clip: padding-box;
    appearance: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background: #FFF;
    border: 1px solid #EFF0F7;
    box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
}


 .fas fa-star  {
   color: #d8a122
}
/*fIN DE CONTACTO.HTML*/

/*---------------------------------------------------------------------------------------------------------------------------------------------------*/

/*INICIO RESERVA.HTML*/
.reserva {
    width: 80%;
    margin: 120px auto;
    width: 90%;
}

.reserva h2 {
    font-weight: 500;
}

.reserva.text-area {
    border: solid 2px #CCA752;
}

.banner {
    background-size: cover;
    background-position: center;
    height: 300px;
    background-image: url(../imagenes/banner.jpg);
}

/*FIN RESERVA.HTML*/


/*Inicio Footer*/
footer {
    width: 100%;
    padding-bottom: 1px;
    background-color: #20212283;
    background-size: cover;
    padding-top: 70px;

}

footer .container_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    
}

footer .container_footer .box__footer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-around;
}

footer .container_footer .box__footer h2 {
    margin-bottom: 30px;
    color: black;
    font-weight: 700;
}

footer .container_footer .box__footer a {
    text-decoration: none;
    margin-top: 10px;
    color: black;
    font-weight: 600;
}

footer .container_footer .box__footer a:hover {
    opacity: 0.8;
    color: rgb(255, 255, 255);
}

footer .container_footer .box__footer a .fab {
    font-size: 20px;
}

footer .container_footer .box__footer .facebook {
    text-decoration: none;
}

footer .container_footer .box__footer .facebook:hover {
    color: #2956a3;
}

footer .container_footer .box__footer .Twitter {
    text-decoration: none;
}

footer .container_footer .box__footer .Twitter:hover {
    color: #51aff8;
}

footer .container_footer .box__footer .linkedin {
    text-decoration: none;
}

footer .container_footer .box__footer .linkedin:hover {
    color: #0076b8;
}

footer .container_footer .box__footer .Instagram {
    text-decoration: none;
}

footer .container_footer .box__footer .Instagram:hover {
    color: #ce1312;
}

footer .box__copyright {
    max-width: 1200px;
    text-align: center;
    margin: auto;
}

footer .box__copyright p {
    margin-top: -11px;
    color: black;
}

footer .box__copyright hr {
    border: none;
    height: 1px;
    background-color: black;
}

footer .box__copyright b {
    color: #1f1d1d;
}

footer .box__copyright b:hover {
    color: black;
}

/*FIN DE FOOTER*/



.bg-reviews {
    background-color: #020202f3;
}

.section-reviews {
    h2 {
        /*font-family: LoraRegular;*/
        font-size: 48px;
        color: white;
    }

    h3 {
         /*font-family: MontserratRegular;*/
        font-size: 20px;
        color: white;
    }

    p {
        font-family: "Inter", sans-serif;
    }

    .animation:hover {
        transform: translateY(-5px);
    }

    .sizes {
        width: 100px;
        height: 100px;
    }
}



/*-----------Fin de ....*/

/*margenes del inicio*/
.principal {
    margin: 120px auto auto;
}

/**/



.experiencia {
    width: 80%;
    margin: 200px auto;
}

/*margenes del p(texto) de la carta*/
.experiencia p {
    text-align: left;
    padding: 0 15px;
}


/* prinicpio boton cartas leer mas*/

.map p {
    /*texto cartas*/
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    color: #18191F;
    background: #FFF;
    border: 1px solid #EFF0F7;
    box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
}

.btn-transparent {
    background-color: #CCA752;
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: 1px solid #CCA752;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 0.8rem;
    z-index: 1;
    border: none;
    border-radius: 45px;
}

.btn-transparent.btn-transparent a {
    color: #18191F;
}

.btn-transparent.btn-transparent:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #000000;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.btn-transparent.btn-transparent:hover.btn-transparent:hover:after {
    top: -45%;
    background-color: #CCA752;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/*FIN boton cartas leer mas*/
.btn-transparent.btn-transparent:hover.btn-transparent:hover a {
    color: #FFF;
}



/* principio carousel productos*/

.scroll {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    position: relative;
    -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
}

.scroll :hover {
    background: #caa246;
    cursor: pointer;
}

/* Ajustes para la corrección */
.move-card {
    margin-bottom: 20px;
    display: inline-block;
    margin: 0 10px;
    animation: scroll-left 20s linear infinite;
    width: 60rem;
    background-color: #FFF;
    border-radius: 2%;
}

.card-img-top{
    height: 200px;
    object-fit: cover;
}



/* Ajustes para las cartas y el contenido dentro de las cartas */
.card, .move-card {
    width: 18rem;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
}

.card img {
    height: 200px;
    object-fit: cover;
}

.card-body {
    text-align: center;
}

.scroll div p {
    text-align: center;
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

main.bodyproductos {
    margin-bottom: 50px;
}

/*----------------Sobre nosotros------------------------------------*/

.quienes-somos {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 10rem;
    gap: 1rem;
}

.cerveceria-informacion {
    display: flex;
    min-height: 18rem;
    width: 75%;
    text-align: center;
    background-color: #5B3910;
    box-shadow: 12px 12px 2px 1px rgba(80, 33, 2, 0.692);
    max-height: 100%;
    transition: all 0.2s;
}

.contenedor-informacion {
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 60%;
}


.img-cerveceria {
    max-width: 100%;
    max-height: 338px;
    height: 100%;
    width: 30rem;
}

.vision-valores {
    flex-direction: row-reverse;
}

.titulo {
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(242, 246, 250);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.descripcion,
.item-valores {
    font-size: 0.9em;
    color: rgb(184, 177, 169);
    padding: 0.2rem 0rem;
}

.descripcion {
    text-align: left;
}

.item-valores {
    text-align: center;
}


.cerveceria-informacion:hover {
    box-shadow: -12px 12px 2px 1px rgba(80, 33, 2, 0.562);
    border: 1px solid rgba(0, 0, 255, 0.2);
    transition: all 0.2s;
}

/*----------------FIN Sobre nosotros------------------------------------*/
/*----------Medias querys para sobre nosotros--------------*/
@media(max-width: 1330px) {

    .quienes-somos {
        padding: 5rem 5rem;

    }


}

@media(max-width: 1000px) {

    .quienes-somos {
        padding: 5rem 0rem;

    }

}

@media(max-width: 800px) {

    .quienes-somos {
        padding: 4rem 0rem;

    }

    .contenedor-informacion {
        width: 100%;
    }

    .cerveceria-informacion {
        flex-direction: column;
    }

    .img-cerveceria {
        width: 100%;
    }


}

@media(max-width: 650px) {

    .cerveceria-informacion {
        min-height: 0;
    }

    .contenedor-informacion {
        padding: 2rem;
    }

    .titulo {
        font-size: 1.2em;
    }

    .descripcion,
    .item-objetivo {
        font-size: 0.8rem;
    }

/*Agregado para la nueva corrrección*/    
    .card-img-top
    {
        width: 200px;
    }

    .move-card {

        animation: scroll-left 20s linear infinite;

    }

    #maps
    {
        width: 200px;  
    }

    #textoCorreo
    {
        font-size: 12px;
    }

}


.bg-image {
    background-image: url('../imagenes/img_inicio.webp');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%;
    min-height: 500px;
    position: relative;
    padding: 20px;
    border-radius: 15px;
    
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6); 
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    text-align: center;
}


.fa-star {
    color: #ff7300;
}


.bg-imagen-productos {
    background-image: url('../imagenes/sobrenostros3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 500px;
    padding: 20px 0; 
    margin: 0; 
    margin-bottom: 50px; 
    border-radius: 15px;
}

